<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title">Voting Table</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let votingLine of votingLines">
                    <td>{{votingLine.item}}</td>
                    <td>{{votingLine.likes}}</td>
                    <td>{{votingLine.dislikes}}</td>
                </tr>
            </tbody>
        </table>
    </div>