<div class="container">
  <div class="display-1">todos-web-ui</div>
  <hr />

  <div class="row">
    <div class="offset-4 col-6">
      <input (keyup)="handleKeyup($event)" class="form-control" placeholder="What needs to be done?" />
    </div>
  </div>
  <hr />

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Id</th>
        <th>Title</th>
        <th>Completed</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos" [ngClass]="{'bg-success':true}">
        <td><input type="checkbox" [checked]="todo.completed" /></td>
        <td>{{ todo.id }}</td>
        <td>{{ todo.title }}</td>
        <td>{{ todo.completed?'completed':'pending' }}</td>
        <td>
          <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
        </td>
        <td>
          <button (click)="handleDelete(todo.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>